.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}
.navigation {
  width: 300px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
}

.navigation .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation img {
  height: 50px;
}
.navigation h2 {
  margin-left: 10px;
  color: white;
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation li {
  cursor: pointer;
  padding: 10px;
  color: white;
  background: linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navigation li:hover {
  background: linear-gradient(
    to bottom,
    #5f8abb,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content {
  flex: 1;
  height: 100%;
}
.content .iframe-container {
  flex: 1;
  height: 100%;
}
.content .iframe-container iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 15px solid red;
}
.iframe-invisible {
  visibility: hidden;
}

.layout {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
